body {
  background-color: #e0e7da;
  display: flex;
}

#map {
  height: 97vh;
  width: 100%;
  border: solid 2px black;
  border-radius: 20px;
}

.info {
  width: 30%;
  padding: 20px;
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
